<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Parameters>
        <param name="MaxBackupIndex" value="2"/>
    </Parameters>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss} %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>

        <RollingFile name="FILE" fileName="log/chessFrame.log" filePattern="log/chessFrame.%i.log">
            <PatternLayout>
                <Pattern>%d{dd-MMM-yyyy HH:mm:ss} %-5p [%t] %C{2} (%F:%L) - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>